<h1>About Aporia</h1>

<div class="hero-unit">
<h3>What is Aporia?</h3>
<p>
  Aporia is a collection of stories told by the people who have lived them.  Each story offers a view into the mind of the author to show those with similar experiences that they are not alone, and to facilitate understanding from those who find it more difficult to relate directly.  It is a place to connect with people to offer support, or seek it for yourself.  There are no stigmas, cruelty, or pre-conceived notions.
</p>

<h3>Who are we?</h3>
<p>
  Aporia is an open collective of individuals with an interest in learning more about ourselves, and the people around us.  We may have struggled through mental health issues with varying degrees of severity, or we may simply wish to better understand those who have been there. To be part of Aporia one must simply display openness, and a willingness to better understand their fellow human beings. 
</p>

<h3>Why Aporia?</h3>
<p>
  Aporia exists because misconceptions are so prevalent in the comprehension of mental health and personal struggles.  First hand accounts help others to see these issues through the eyes of the person experiencing the issue.  Social stigmas, along with misunderstanding of conditions and issues, create a society in which people are encouraged -- directly or indirectly -- to hide their problems rather than seek help.  The result is a desperate feeling of loneliness and defeat.  Aporia is here to show that nobody is alone in any problem.  There is always somebody to relate to, always somebody who wants to help -- Aporia is where you can find them.
</p>
</div>

<!-- <small>Created by: Charles Whittaker</small>
 -->