<div class="hero-unit">
  <h1>Aporia</h1>
  <p>Aporia is a resource for sharing links with your friends!</p>
  <% if !current_user %>
    <p>
      <%= link_to "Sign Up Today!", new_user_registration_path, class: 'btn btn-success btn-large' %>
    </p>
  <% else %>
    <p>
      <%= link_to "Go To Your Profile!", current_user, class: 'btn btn-large' %>
    </p>
  <% end %>
</div>

<div class="row">
  <div class="span4">
    <h2>Post Anything</h2>
    <p>This is some content about how great point 1 is. You should really use Aporia because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Comment Away</h2>
    <p>This is some content about how great point 2 is. You should really use Aporia because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
  <div class="span4">
    <h2>Learn About Life</h2>
    <p>This is some content about how great point 3 is. You should really use Aporia because of it! No seriously, it really is amazing and great and you should really check it out.</p>
  </div>
</div>