<h1>Edit Post</h1>
<div class="row">
  <div class="span4">
    <p>Guidelines for new posts:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Do not use other people's personal information without their consent.</li>
      <li>Don't be hateful.</li>
    </ul>
  </div>
  <div class="span8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post } %>
  </div>
</div>

