<h1>
  Newest Posts
</h1>

<div class="row">
  <div class="span8">
    <% @posts.each do |post| %>
      topic = post.topic
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to (markdown post.title), [topic, post] %>
          </h4>
          <small>
            submitted <%= time_ago_in_words(post.created_at) %> ago by
            <%= post.user.name %></br>
            <%= post.comments.count %> Comments
          </small>
        </div>
      </div>
    <% end %>
  </div>
</div>