@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.hero-unit {
  padding: 60px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: #000000;
  background-color: #D0D788;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.voted {
  opacity: 0.5;
}